### Download File

Jankin Mikhaylov, Slava; Baturo, Alexander; Dasandi, Niheer, 2017, "United Nations General Debate Corpus", https://doi.org/10.7910/DVN/0TJX8Y, Harvard Dataverse, V6; UNGDC_1970-2020.tar.gz 
https://dataverse.harvard.edu/file.xhtml?fileId=4590189&version=6.1

In [10]:
import requests

# the `/` at the end is important
url = 'https://dataverse.harvard.edu/api/access/datafile/4590189?gbrecs=true'

headers = {
    "User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/54.0.2866.71 Safari/537.36", 
  }

r = requests.get(url, headers=headers, verify=False, allow_redirects=True)

# get the filename from the headers `454698fd-6dfa-49a1-8096-bd9bb57b62ca_vertice.zip`
filename = "1970-2020.tar.gz"

with open(filename, 'wb') as f:
  f.write(r.content)

/Users/marco/opt/anaconda3/lib/python3.8/site-packages/urllib3/connectionpool.py:1013: InsecureRequestWarning: Unverified HTTPS request is being made to host 'dataverse.harvard.edu'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/1.26.x/advanced-usage.html#ssl-warnings
  warnings.warn(
/Users/marco/opt/anaconda3/lib/python3.8/site-packages/urllib3/connectionpool.py:1013: InsecureRequestWarning: Unverified HTTPS request is being made to host 'dvn-cloud.s3.amazonaws.com'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/1.26.x/advanced-usage.html#ssl-warnings
  warnings.warn(

In [ ]:
import tarfile
my_tar = tarfile.open('1970-2020.tar.gz')
my_tar.extractall('./my_folder') # specify which folder to extract to
my_tar.close()

In [2]:
from io import StringIO
import os 
import pandas as pd
import re

In [100]:
corpus = pd.DataFrame(columns=["info", "text"]) 
df = pd.DataFrame(columns=["info", "text"])
path='/Volumes/GoogleDrive/My Drive/tada_unga/TXT'
for (dirname, dirs, files) in os.walk(path):
   for filename in files:
        thefile = os.path.join(dirname,filename)
        with open (thefile,encoding='utf8',errors='ignore') as fin:

              doc=fin.read().strip('\n\t')
              df["info"] = pd.DataFrame(StringIO(filename))
              df["text"] = pd.DataFrame({doc})
              corpus = pd.concat([corpus,df])

In [101]:
corpus[["country","session","year"]] = corpus["info"].str.split('_',expand=True)

In [113]:
corpus = corpus.drop(['info'], axis=1)

In [117]:
corpus["year"] = corpus["year"].str.split('.',expand=True)[0]

In [119]:
corpus.sample()

                                                text country session  year
0  ﻿\nIt is a pleasure, Sir, for my delegation to...     FJI      43  1988

In [132]:
corpus = corpus[(corpus.country != '.DS')&(corpus.country != '.Rhistory') & (corpus.country !='.Rapp.history')]

In [139]:
corpus.sample(5)

                                                text country session  year
0  ﻿I wish to begin my address to the Assembly, S...     SLV      45  1990
0  ﻿I would like to begin today by\ntelling the A...     USA      67  2012
0  I have to confess to my\nusual excitement and ...     WSM      50  1995
0  ﻿103.\tOn behalf of our delegation I should li...     UKR      33  1978
0  ﻿First of all, Sir, I offer you my delegation’...     VUT      51  1996

In [141]:
corpus["country"].unique()

array(['BRB', 'IND', 'ARG', 'JOR', 'SWE', 'EST', 'MDG', 'BTN', 'NOR',
       'TUN', 'NRU', 'SWZ', 'ALB', 'IDN', 'BOL', 'SRB', 'GNQ', 'SYR',
       'RUS', 'DJI', 'GIN', 'BHS', 'DNK', 'MYS', 'BRN', 'BGD', 'CAF',
       'COG', 'CYP', 'AUT', 'MEX', 'ATG', 'TJK', 'SLB', 'PHL', 'PRK',
       'POL', 'LKA', 'DZA', 'CHN', 'BFA', 'PRT', 'CRI', 'ECU', 'GBR',
       'BGR', 'GNB', 'PAN', 'URY', 'SUR', 'AFG', 'MDA', 'COM', 'TKM',
       'ZMB', 'LUX', 'ZWE', 'VCT', 'COD', 'SMR', 'LIE', 'VEN', 'UZB',
       'HUN', 'ISL', 'GRC', 'AZE', 'GUY', 'JPN', 'RWA', 'BEL', 'WSM',
       'GHA', 'ARM', 'BLR', 'OMN', 'MNG', 'SSD', 'BDI', 'VNM', 'IRL',
       'MUS', 'NER', 'MLI', 'PAK', 'FRA', 'FSM', 'TUR', 'PLW', 'BRA',
       'LBY', 'EU', 'ETH', 'DOM', 'CZE', 'ESP', 'MRT', 'HTI', 'MAR',
       'MHL', 'CAN', 'QAT', 'USA', 'ZAF', 'GTM', 'MOZ', 'SDN', 'BWA',
       'TTO', 'GAB', 'BHR', 'AND', 'MCO', 'THA', 'PRY', 'HRV', 'VAT',
       'NPL', 'CMR', 'LBR', 'UKR', 'LAO', 'STP', 'ROU', 'GRD', 'BEN',
       'LCA', 'MWI', 'IRN', 'NAM', 'MNE', 'KWT', 'BIH', 'MLT', 'IRQ',
       'JAM', 'SOM', 'YEM', 'DMA', 'NGA', 'SEN', 'ITA', 'AGO', 'KIR',
       'LVA', 'TCD', 'ARE', 'BLZ', 'LSO', 'TZA', 'FJI', 'PNG', 'SVK',
       'NIC', 'EGY', 'NZL', 'CPV', 'UGA', 'TGO', 'MMR', 'AUS', 'NLD',
       'KGZ', 'LBN', 'SLE', 'MDV', 'KHM', 'KEN', 'KOR', 'SGP', 'MKD',
       'HND', 'CIV', 'ERI', 'CUB', 'CHE', 'KNA', 'VUT', 'ISR', 'GEO',
       'GMB', 'SLV', 'TUV', 'KAZ', 'FIN', 'SAU', 'SYC', 'LTU', 'SVN',
       'PSE', 'PER', 'COL', 'DEU', 'TLS', 'CHL', 'TON', 'YUG', 'DDR',
       'CSK', 'YDYE', 'POR'], dtype=object)

In [142]:
corpus["year"].unique()

array(['2018', '1974', '1995', '2009', '1996', '1972', '2015', '1979',
       '1998', '1983', '1980', '1989', '1971', '2016', '1993', '2007',
       '2020', '1990', '2004', '2013', '1987', '2001', '2010', '1977',
       '2002', '2017', '1970', '1981', '1982', '1973', '1997', '1984',
       '2003', '1976', '2011', '2008', '1985', '2000', '1975', '1994',
       '2012', '1986', '2019', '2005', '1991', '1988', '2006', '1978',
       '1999', '1992', '2014'], dtype=object)

In [138]:
corpus.to_csv("corpus.csv", sep='\t', encoding='utf-8')